# Using `pandas` to investigate pay gap data

In [1]:
import pandas

## Read the data from the `csv` file

This data was taken directly from the ONS at https://gender-pay-gap.service.gov.uk/viewing/download

> What does `csv` stand for?

In [2]:
data = pandas.read_csv("PayGapData1819.csv")

## Look at the first few rows

In [3]:
data.head()

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,"""Bryanston School"",Incorporated","Bryanston House,\r\nBlandford,\r\nDorset,\r\nU...",00226143,85310,19.6,32.5,NaN,NaN,0.0,0.0,...,55.1,53.3,46.7,https://www.bryanston.co.uk/employment,Michael McGovern (Chief Operating Officer),500 to 999,"""Bryanston School"",Incorporated",False,05/04/2019 00:00:00,03/04/2019 13:43:34
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED","19 Smith's Place,\r\nLeith Walk,\r\nEdinburgh,...",SC016876,47730,7.7,-4.2,23.7,-75.2,22.2,82.0,...,88.4,20.3,79.7,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False,05/04/2019 00:00:00,01/04/2019 12:37:21
2,118 LIMITED,"Fusion Point,\r\nDumballs Road,\r\nCardiff,\r\...",03951948,61900,7.7,12.7,11.3,10.9,67.0,52.0,...,50.0,56.0,44.0,NaN,Michael Graham (CEO),1000 to 4999,118 LIMITED,False,05/04/2019 00:00:00,06/03/2019 13:26:24
3,123 EMPLOYEES LTD,"34 Roundhay Road,\r\nLeeds,\r\nEngland,\r\nLS7...",10530651,78300,30.0,29.0,-10.0,69.0,46.0,74.0,...,83.0,25.0,75.0,NaN,Chloe Lines (Financial Controller),250 to 499,123 EMPLOYEES LTD,False,05/04/2019 00:00:00,03/04/2019 15:43:17
4,1509 GROUP,"Royal Grammar School, High Street,\r\nGuildfor...",04104101,"85200,\r\n85310",13.4,12.7,0.0,0.0,0.0,0.0,...,51.6,61.3,38.7,https://www.rgs-guildford.co.uk,Kate Perceval (Bursar),250 to 499,1509 GROUP,False,05/04/2019 00:00:00,18/03/2019 14:03:16

> Change the code above to look at the first ten rows
>
> What about the last ten rows?
>
> Everything *but* the last ten rows?

## Check the column headings

In [4]:
data.columns

Index(['EmployerName', 'Address', 'CompanyNumber', 'SicCodes',
       'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline', 'DueDate', 'DateSubmitted'],
      dtype='object')

## Find the largest mean pay gap

In [11]:
data.DiffMeanHourlyPercent.max()

100.0

> How would you interpret this pay gap?
>
> What is the lowest mean pay gap?
>
> What are the highest and lowest *median* pay gaps?

## Sort by pay gap

In [12]:
data.sort_values(by='DiffMedianHourlyPercent', axis=0, ascending=False).head()

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
8952,T. CLASS SECURITY LIMITED,"6 Skylines Village,\r\nLimeharbour,\r\nLondon,...",03622392,80100,100.0,100.0,100.0,100.0,100.0,100.0,...,50.0,50.0,50.0,https://t-class.co.uk/,Demi Larner (Vetting Officer),250 to 499,T. CLASS SECURITY LIMITED,True,05/04/2019 00:00:00,08/05/2019 11:08:24
629,ASH & LACY FINISHES LIMITED,"Ash & Lacy House, Bromford Lane,\r\nWest Bromw...",10805186,32990,100.0,100.0,NaN,NaN,0.0,0.0,...,0.0,100.0,0.0,http://www.ashandlacy.com/construction/about-u...,Jonathan Evans (CEO & Chairman),250 to 499,ASH & LACY FINISHES LIMITED,False,05/04/2019 00:00:00,03/04/2019 08:56:20
10198,VIDA HEALTHCARE LIMITED,"The Power House, 156 Hookstone Drive,\r\nHarro...",09106261,41100,70.4,79.3,0.0,0.0,0.0,0.0,...,67.0,50.0,50.0,NaN,James Rycroft (Managing Director),250 to 499,VIDA HEALTHCARE LIMITED,False,05/04/2019 00:00:00,18/03/2019 11:10:56
8822,SUFFOLK GP FEDERATION C.I.C.,"Riverside Clinic, 2 Landseer Road,\r\nIpswich,...",06183049,86210,59.5,74.8,NaN,NaN,0.0,0.0,...,87.5,37.5,62.5,https://suffolkfed.org.uk/,Katrina Pollard (Financial Controller),250 to 499,SUFFOLK GP FEDERATION C.I.C.,False,05/04/2019 00:00:00,26/03/2019 13:36:06
6427,NEW MILLENNIA PAYROLL SERVICES LIMITED,"1121 Ashton Old Road,\r\nManchester,\r\nM11 1AA",04254121,78200,6.6,74.3,36.6,60.0,2.0,2.2,...,10.6,92.1,7.9,NaN,Nicholas Hynes (Director),1000 to 4999,NEW MILLENNIA PAYROLL SERVICES LIMITED,False,05/04/2019 00:00:00,27/03/2019 11:45:19

> Edit the code above to sort by *median* pay gap
>
>
> Edit the code to put the results in *ascending* order

## Filtering the data

Let's see how many companies reported a mean pay gap of more than 50%

In [7]:
data.loc[data.DiffMeanHourlyPercent > 50]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
87,ABERDEEN FOOTBALL CLUB PLC,"Pittodrie Stadium, Pittodrie Street,\r\nAberde...",SC005364,"93110,\r\n93120",55.6,26.6,75.0,65.3,15.4,1.6,...,27.3,92.4,7.6,https://d2cx26qpfwuhvu.cloudfront.net/aberdeen...,Roy Johnston (Company Secretary),250 to 499,ABERDEEN FOOTBALL CLUB PLC,False,05/04/2019 00:00:00,28/03/2019 10:04:46
227,AFC BOURNEMOUTH LIMITED,"Vitality Stadium Dean Court,\r\nKings Park,\r\...",06632170,93120,85.7,22.1,99.7,99.4,16.0,2.1,...,21.4,78.2,21.8,https://www.afcb.co.uk/news/club-news/gender-p...,David Holiday (Finance Director),500 to 999,AFC BOURNEMOUTH LIMITED,False,05/04/2019 00:00:00,28/03/2019 12:17:49
312,ALBION FOOTBALL CLUB(BURTON-ON-TRENT)LIMITED(THE),"Pirelli Stadium, Princess Way,\r\nBurton On Tr...",00488096,93110,52.3,7.1,100.0,100.0,11.0,0.0,...,36.5,87.3,12.7,NaN,Fleur Robinson (Commercial Director),250 to 499,ALBION FOOTBALL CLUB(BURTON-ON-TRENT)LIMITED(THE),False,05/04/2019 00:00:00,03/04/2019 09:01:57
429,AMEC FOSTER WHEELER LIMITED,"Booths Park,\r\nChelford Road,\r\nKnutsford,\r...",01675285,70100,51.0,52.6,76.5,72.7,98.0,94.3,...,57.6,56.2,43.8,https://www.woodplc.com/policies-and-notices/g...,Sue MacDonald (Executive President - People & ...,Less than 250,AMEC FOSTER WHEELER LIMITED,False,05/04/2019 00:00:00,25/02/2019 09:43:16
447,AMPLIFON LIMITED,"Gateway House,\r\nStyal Road,\r\nManchester,\r...",01315581,86900,55.0,68.0,34.0,50.0,76.0,29.0,...,62.0,59.0,41.0,NaN,Giuseppe Manzo (General Manager),250 to 499,AMPLIFON LIMITED,False,05/04/2019 00:00:00,03/04/2019 08:59:15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10453,WEST HAM UNITED FOOTBALL CLUB LIMITED,"London Stadium,\r\nQueen Elizabeth Olympic Par...",00066516,93120,85.1,20.6,30.4,-100.0,22.3,4.7,...,25.4,88.3,11.7,https://www.whufc.com/news/articles/2019/march...,Michele Gull (Head of HR),250 to 499,WEST HAM UNITED FOOTBALL CLUB LIMITED,False,05/04/2019 00:00:00,28/03/2019 10:07:33
10642,WOLVERHAMPTON WANDERERS FOOTBALL CLUB (1986) L...,"Molineux Stadium,\r\nWaterloo Road,\r\nWolverh...",01989823,93120,63.3,15.9,96.7,65.0,21.0,12.0,...,20.4,90.0,10.0,https://prod-wolves-cms.azurewebsites.net/medi...,Zoe Brough (Head of HR),500 to 999,WOLVERHAMPTON WANDERERS FOOTBALL CLUB (1986) L...,False,05/04/2019 00:00:00,04/04/2019 12:52:09
10689,WRFC TRADING LIMITED,"Sixways Stadium Warriors Way,\r\nHindlip,\r\nW...",03160145,93110,51.1,14.0,51.6,9.1,11.3,0.5,...,30.0,85.0,15.0,https://warriors.co.uk/fanzone/club-informatio...,Peter Kelly (Operations Director),500 to 999,WRFC TRADING LIMITED,True,05/04/2019 00:00:00,02/05/2019 10:29:14
10743,YELL LIMITED,"3 Forbury Place,\r\nForbury Road,\r\nReading,\...",04205228,"58120,\r\n58190",54.6,23.1,95.6,14.1,92.7,94.4,...,23.0,69.0,31.0,https://irp-cdn.multiscreensite.com/c0e9065d/f...,David Sharman (Group CEO),250 to 499,YELL LIMITED,False,05/04/2019 00:00:00,01/04/2019 17:48:50
10785,YOURS CLOTHING LIMITED,"Newcombe House,\r\nBakewell Road, Orton Southg...",02886196,47710,65.0,54.0,57.0,61.0,76.0,26.0,...,99.0,10.0,90.0,https://www.yoursclothing.co.uk/gender-pay-gap,Anna Heather (Finance Director),1000 to 4999,YOURS CLOTHING LIMITED,False,05/04/2019 00:00:00,26/03/2019 13:38:47

> What do you notice?
>
> How many companies reported a mean pay gap in favour of women? What *proportion* of companies is this?
>
> How many companies reported a *median* pay gap in favour of women?
>
> What proportion of companies reported a higher mean pay gap than median pay gap? Why is this?

## Searching by `SIC` code

Let's look at some companies in the tech sector

[SIC code reference](http://www.siccodesupport.co.uk/) says that SIC codes that start with 62 are for companies that do "Computer programming, consultancy, and related activities"

In [8]:
data.loc[data.SicCodes.str.startswith("62", na=False)]

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
115,Access UK Ltd,"The Old School,\r\nSchool Lane,\r\nStratford S...",02343760,62090,19.9,24.3,41.2,10.5,56.1,48.6,...,27.0,81.0,19.0,https://www.theaccessgroup.com/company/our-peo...,Claire Scott (CPO),1000 to 4999,Access UK Ltd,False,05/04/2019 00:00:00,20/03/2019 16:54:52
141,ACI WORLDWIDE (EMEA) LIMITED,"55-57 Clarendon Road,\r\nWatford,\r\nHertfords...",02310474,"62020,\r\n70100",8.9,20.7,26.5,75.7,81.6,78.8,...,22.0,73.0,27.0,https://www.aciworldwide.com/-/media/files/col...,David King (VP Services),250 to 499,ACI WORLDWIDE (EMEA) LIMITED,False,05/04/2019 00:00:00,02/04/2019 16:30:35
167,ACTURIS LIMITED,"Courtyard Suite, 100 Hatton Garden,\r\nLondon,...",03998084,62090,18.8,16.3,55.6,17.4,80.9,78.0,...,24.4,85.9,14.1,https://www.acturis.com/wp-content/uploads/201...,David McDonald (Director),250 to 499,ACTURIS LIMITED,False,05/04/2019 00:00:00,27/03/2019 16:20:50
204,ADVANCED 365 LIMITED,"Ditton Park,\r\nRiding Court Road,\r\nDatchet,...",02124540,62090,8.3,19.4,30.0,19.0,99.0,97.0,...,8.0,87.0,13.0,https://www.oneadvanced.com/siteassets/resourc...,Alex Arundale (HR Director),250 to 499,ADVANCED 365 LIMITED,False,05/04/2019 00:00:00,03/04/2019 12:09:40
205,ADVANCED BUSINESS SOFTWARE AND SOLUTIONS LIMITED,"Ditton Park,\r\nRiding Court Road,\r\nDatchet,...",03214465,62020,24.5,33.0,69.0,3.0,84.0,91.0,...,28.0,86.0,14.0,https://www.oneadvanced.com/siteassets/resourc...,Alex Arundale (HR Director),500 to 999,ADVANCED BUSINESS SOFTWARE AND SOLUTIONS LIMITED,False,05/04/2019 00:00:00,03/04/2019 12:02:28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10602,WIN TECHNOLOGIES (UK) LIMITED,"55 Baker Street,\r\nLondon,\r\nEngland,\r\nW1U...",05771461,62090,43.0,25.0,33.0,22.0,76.0,75.0,...,28.0,83.0,17.0,NaN,Brian Susskind (Managing Director),250 to 499,WIN TECHNOLOGIES (UK) LIMITED,False,05/04/2019 00:00:00,01/04/2019 14:03:36
10675,WORLDLINE IT SERVICES UK LIMITED,"Second Floor, Mid City Place,\r\n71 High Holbo...",08514184,"62020,\r\n62090,\r\n63990",20.8,19.2,5.6,29.0,68.0,55.0,...,22.0,80.0,20.0,https://uk.worldline.com/content/dam/worldline...,"Lisa Coleman (CEO Worldline, UK&I)",500 to 999,WORLDLINE IT SERVICES UK LIMITED,False,05/04/2019 00:00:00,29/03/2019 09:04:41
10683,WOWCHER LIMITED,"Wowcher Towers 12-27 Swan Yard, Islington,\r\n...",04264984,62090,30.4,34.4,64.3,80.1,56.3,56.8,...,39.0,70.0,30.0,https://www.wowcher.co.uk/page/aboutus.html,Karen Kemble-Diaz (Chief Operating Officer),250 to 499,WOWCHER LIMITED,False,05/04/2019 00:00:00,27/03/2019 10:14:59
10723,XCHANGING GLOBAL INSURANCE SOLUTIONS LIMITED,"Royal Pavilion,\r\nWellesley Road,\r\nAldersho...",00508212,62020,27.0,23.0,16.0,15.0,10.0,4.0,...,10.0,89.0,11.0,https://www.dxc.technology/uki/ds/11507/146310...,Holly Hamilton (Director Total Rewards),250 to 499,XCHANGING GLOBAL INSURANCE SOLUTIONS LIMITED,False,05/04/2019 00:00:00,13/03/2019 14:21:06
10794,ZEBRA TECHNOLOGIES EUROPE LIMITED,"Dukes Meadow,\r\nMillboard Road,\r\nBourne End...",02881068,62012,11.4,26.6,32.5,42.8,92.4,92.2,...,28.8,80.9,19.1,https://www.zebra.com/content/dam/zebra_new_ia...,Shelley Eades (Director Human Resources),500 to 999,ZEBRA TECHNOLOGIES EUROPE LIMITED,False,05/04/2019 00:00:00,29/03/2019 06:49:07

> How many companies have SIC codes that start with 62?
>
> How many of these companies have a pay gap in favour of women? What *proportion* is this?

## Quartiles

Let's look at one particular company and the composition of their pay *quartiles*

In [10]:
# Select columns by number using `iloc`
# The quartile data is in columns 10 to 17
# Transpose for ease of reading
data.loc[data.EmployerName.str.startswith("VOD", na=False)].iloc[:,[0,4,5,10,11,12,13,14,15,16,17]].transpose()

,10240,10241,10242
EmployerName,VODAFONE GLOBAL ENTERPRISE LIMITED,VODAFONE GROUP SERVICES LIMITED,VODAFONE LIMITED
DiffMeanHourlyPercent,22.3,16.8,15.3
DiffMedianHourlyPercent,21.7,6.4,19.3
MaleLowerQuartile,44.8,58,57.7
FemaleLowerQuartile,55.2,42,42.3
MaleLowerMiddleQuartile,69.8,63.1,60.2
FemaleLowerMiddleQuartile,30.2,36.9,39.8
MaleUpperMiddleQuartile,76.6,68.9,69.4
FemaleUpperMiddleQuartile,23.4,31.1,30.6
MaleTopQuartile,73.3,69.4,76
FemaleTopQuartile,26.7,30.6,24

> What do you think is meant by these figures?
>
> Use this information to suggest a reason for the pay gap at this company